/** @format */

.girlwithdiamond {
  background-image: url(../../Assets/diamondgirls.93653506.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
  height: 90vh;
  top: 0;
  z-index: 1;
}
